@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --color-mainyellow: #b88e2f;
  --color-imagesectionbg: #fff3e3;
  --color-mainyellowdark: #66501b;
}

body {
  font-family: var(--font-poppins);
}
